@charset "UTF-8";

.item {
  width: 65px;
  padding: 10px;
  margin: 20px 20px 0 0;
  color: #fff;
  background: #00bbdd;
  text-align: center;
}
.left--up {
  display: flex;
  /* flex-direction: row; */
}
.wrapper1 {
  justify-content: flex-end;
}
.right--reverse {
  display: flex;
  flex-direction: row-reverse;
}
.item2 {
  margin-bottom: 20px;
}
.wrapper2 {
  display: flex;
}
.left--down {
  flex-direction: column;
}
.left--down--up {
  display: flex;
  flex-direction: column-reverse;
}
